[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
boto3 = "==1.14.40"

[packages]
python-dotenv = "*"
bs4 = "*"
requests = "*"
retry = "*"
html5lib = "*"
mojimoji = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.7"

[scripts]
build = "bash -c \"pipenv requirements > notify_hitokuchi/requirements.txt && sam build --use-container\""
