[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
python-dotenv = "*"
bs4 = "*"
requests = "*"
html5lib = "*"
mojimoji = "*"
aws-xray-sdk = "*"
boto3 = "*"

[requires]
python_version = "3.12"

[scripts]
build = "bash -c \"pipenv requirements > notify_hitokuchi/requirements.txt && sam build --use-container\""
